header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

    .btn {
        margin-top: 0;
    }

    .navbar a {
        font-size: 1.7rem;
        color: $light-color;
        display: inline-block;
        margin: 0 1rem;

        &:hover {
            color: $blue;
        }
    }
}

#menu-btn {
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;
    display: none;
}