@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: #111;
}
html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 8px;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: #29d9d5;
  font-size: 2rem;
}
.heading h1 {
  color: #fff;
  font-size: 4rem;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.logo i {
  color: #29d9d5;
  padding-right: 0.7rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: none;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #29d9d5;
  color: rgba(17, 17, 17, 0.7);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}
header .btn {
  margin-top: 0;
}
header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}
header .navbar a:hover {
  color: #29d9d5;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("../../../images/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}
.home .content {
  text-align: center;
  margin-bottom: 5rem;
}
.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  text-transform: none;
}
.home .content h3 {
  font-size: 6vw;
  color: #fff;
}
.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
@media (max-width: 768px) {
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #222;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgb(17, 17, 17);
  padding: 3rem 2rem;
}
.book-form form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.7rem;
}
.book-form form .inputbox {
  flex: 1 1 25rem;
}
.book-form form .inputbox span {
  font-size: 1.4rem;
  color: #aaa;
  margin-left: 1rem;
}
.book-form form .inputbox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}
.book-form form .inputbox ::-webkit-calendar-picker-indicator {
  filter: invert(0.45);
}
.book-form form .inputbox input[type=number]::-webkit-outer-spin-button,
.book-form form .inputbox input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.book-form form .inputbox input[type=number] {
  -moz-appearance: textfield;
}
.book-form form .btn {
  flex: 1 1 25rem;
  padding: 1.2rem 1.4rem;
  margin-top: 2.5rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3.5rem;
  padding-bottom: 0;
}
.about .video-container {
  flex: 1 1 42rem;
}
.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}
.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}
.about .video-container .controls .control-btn {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0.7rem;
  cursor: pointer;
}
.about .video-container .controls .control-btn:hover {
  background-color: #29d9d5;
}
.about .content {
  width: 100%;
  flex: 1 1 42rem;
  margin-bottom: 8.4rem;
}
.about .content span {
  color: #29d9d5;
  font-size: 2rem;
}
.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
@media (max-width: 798px) {
  .about .content {
    text-align: center;
    margin-bottom: 0;
    margin-bottom: 3rem;
  }
  .about .content p {
    padding: 1rem 2.5rem;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
}

.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.destination .box-container .box {
  background: #222;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}
.destination .box-container .box .image {
  height: 20rem;
  width: 100%;
  overflow: hidden;
}
.destination .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}
.destination .box-container .box .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #aaa;
  line-height: 2;
}
.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}
.destination .box-container .box .content a:hover i {
  padding-left: 0.5rem;
}
.destination .box-container .box:hover img {
  transform: scale(1.1);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box {
  background-color: #222;
  text-align: center;
  padding: 3rem;
  border-radius: 1rem;
  border: 0.2rem solid #222;
}
.services .box-container .box i {
  color: #29d9d5;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.services .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
}
.services .box-container .box p {
  color: #aaa;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}
.services .box-container .box:hover {
  border-color: #29d9d5;
}

.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;
}
.gallery .box-container .box {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin-bottom: 1rem;
}
.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.gallery .box-container .box .content span {
  color: #aaa;
  font-size: 1.4rem;
}
.gallery .box-container .box .content h3 {
  color: #fff;
  font-size: 2rem;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 2.6rem;
  align-items: center;
  padding-top: 0;
}
.reviews .content {
  flex: 1 1 42rem;
}
.reviews .content span {
  color: #29d9d5;
  font-size: 2rem;
}
.reviews .content h3 {
  color: #fff;
  font-size: 3rem;
}
.reviews .content p {
  color: #aaa;
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
}
.reviews .box-container {
  flex: 1 1 42rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.reviews .box-container .box {
  background-color: #222;
  padding: 2rem;
  flex: 1 1 20rem;
  border-radius: 2rem;
  border: 0.2rem solid #222;
}
.reviews .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}
.reviews .box-container .box p {
  font-size: 1.4rem;
  line-height: 2;
  color: #aaa;
  padding-bottom: 1rem;
}
.reviews .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews .box-container .box .user img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.reviews .box-container .box .user .info h3 {
  color: #fff;
  font-size: 1.7rem;
}
.reviews .box-container .box .user .info span {
  color: #aaa;
  font-size: 1.5rem;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  background-color: #222;
  border-radius: 1rem;
  overflow: hidden;
}
.blogs .box-container .box:hover img {
  transform: scale(1.1);
}
.blogs .box-container .box .image {
  height: 20rem;
  width: 100%;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.blogs .box-container .box .content a {
  color: #fff;
  font-size: 2rem;
}
.blogs .box-container .box .content a:hover {
  color: #29d9d5;
}
.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
.blogs .box-container .box .content .icon {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: #aaa;
}
.blogs .box-container .box .content .icon a:hover {
  color: #29d9d5;
}
.blogs .box-container .box .content .icon a i {
  color: #29d9d5;
  padding-right: 0.5rem;
}

.banner {
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("../../../images/banner-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 2rem;
  text-align: center;
}
.banner .heading {
  margin-bottom: 1rem;
}
@media (max-width: 450px) {
  .banner .heading h1 {
    font-size: 2.7rem;
  }
}
.banner p {
  max-width: 60rem;
  color: #aaa;
  line-height: 2;
  font-size: 1.4rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.footer .box-container {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  gap: 3rem;
  padding: 3rem 2rem;
}
.footer .box-container .box {
  text-align: center;
}
.footer .box-container .box .email {
  text-transform: lowercase;
  white-space: nowrap;
}
.footer .box-container .box .logo {
  padding-bottom: 1rem;
}
.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box p i {
  color: #29d9d5;
  padding-right: 0.5rem;
}
.footer .box-container .box .share {
  padding-top: 1rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
  border: 0.2rem solid #29d9d5;
  border-radius: 50%;
  color: #29d9d5;
  display: inline-block;
  margin-right: 0.5rem;
}
.footer .box-container .box .share a:hover {
  background-color: #29d9d5;
  color: #222;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
}
.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  width: 100%;
  display: block;
}
.footer .box-container .box .links:hover {
  color: #29d9d5;
}
.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}
.footer .box-container .box .links i {
  color: #29d9d5;
  padding-right: 0.5rem;
}
.footer .box-container .box form input[type=email] {
  width: 85%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}
.footer .box-container .box form .btn {
  width: 85%;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    justify-content: flex-start;
  }
  .header .logo {
    margin-right: auto;
    margin-left: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 328px) {
  section {
    padding: 3rem 1rem;
  }
  .header {
    padding: 1.5rem 1rem;
  }
  .header .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
  .header .logo {
    font-size: 2.2rem;
    margin-left: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
