.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3.5rem;
    padding-bottom: 0;

    .video-container {
        flex: 1 1 42rem;

        video {
            border-radius: 1rem;
            width: 100%;
        }

        .controls {
            text-align: center;
            padding: 2rem 0;

            .control-btn {
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                background-color: $white;
                margin: .7rem;
                cursor: pointer;

                &:hover {
                    background-color: $blue;
                }
            }

        }

    }

    .content {
        width: 100%;
        flex: 1 1 42rem;
        margin-bottom: 8.4rem;

        span {
            color: $blue;
            font-size: 2rem;
        }

        h3 {
            color: $white;
            font-size: 4rem;
            margin-top: .5rem;
        }

        p {
            padding: 1rem 0;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;
        }


        @media (max-width: 798px) {
            text-align: center;
            margin-bottom: 0;
            margin-bottom: 3rem;

            p {
                padding: 1rem 2.5rem;
            }

            h3 {
                font-size: 3.5rem;
            }
        }
    }

}