.footer .box-container {

    overflow-y: hidden;

    @include grid(25rem);
    gap: 3rem;

    padding: 3rem 2rem;

    .box {

        text-align: center;

        .email {
            text-transform: lowercase;
            white-space: nowrap;
        }

        .logo {
            padding-bottom: 1rem;
        }

        p {
            font-size: 1.4rem;
            color: #aaa;
            padding: 1rem 0;
            line-height: 2;

            i {
                color: #29d9d5;
                padding-right: 0.5rem;
            }
        }

        .share {
            padding-top: 1rem;

            a {

                &:hover {
                    background-color: $blue;
                    color: $bg-color;
                }

                height: 4.5rem;
                width: 4.5rem;
                font-size: 1.7rem;
                line-height: 4rem;
                text-align: center;
                border: $border;
                border-radius: 50%;
                color: $blue;
                display: inline-block;
                margin-right: .5rem;
            }
        }

        h3 {
            font-size: 2.2rem;
            color: $white;
        }

        .links {
            font-size: 1.4rem;
            color: $light-color;
            padding: 1rem 0;
            width: 100%;
            display: block;

            &:hover {
                color: $blue;

                i {
                    padding-right: 2rem;
                }
            }

            i {
                color: $blue;
                padding-right: .5rem;
            }
        }

        form {
            input[type='email'] {
                width: 85%;
                padding: 1.2rem 1.4rem;
                border-radius: 5rem;
                border: $border;
                font-size: 1.6rem;
                color: $light-color;
                text-transform: none;
                background: none;
                margin-top: 1rem;
            }

            .btn {
                width: 85%;
            }
        }

    }

}