.home {
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background: url('../../../images/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
}